@import "tailwindcss";

body.dark {
    --background-1: #141414;
    --text-1: #e5e5e5;
    --grid-column-gap: 40px;
}
body {
    background-color: var(--background-1);
    color: var(--text-1);
    font-size: 14px;
}
h2 {
    margin-bottom: 1rem;
}
